body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

main {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  color: white;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  color: black;
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  border: solid 10px grey;
  background-color: white;
  border-radius: 10px;
}

.grid-item {
  border: 1px solid #ddd;
  box-sizing: border-box;
}
